body {
  font-family: Arial;
  background: #f4f9f4;
  padding: 20px;
}

header {
  background: green;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  color: darkgreen;
}

section {
  background: white;
  padding: 20px;
  border-radius: 5px;
}